body {
  background: darkgreen;
  margin: 50px;
  font-family: 'Courier New', Courier, monospace;
}

main {
  text-align: left;
}

canvas {
  border: solid 8px green;
}

h1 {
  color: greenyellow;
  margin-bottom: 30px;
}

footer {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: green;
}

a:link,
a:visited {
  color: black;
}

a:focus,
a:hover {
  color: darkgreen;
}
